#task-container {
    border: black solid 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task {
    border: black solid 2px;
    width: 55%;
    margin: 20px;
    overflow-wrap: break-word;
}